@media screen and (min-width: 48rem) {
  .sudoku__input_button {
    width: calc(33.33% - 4px);
  } 
}

@media screen and (max-width: 48rem) {
  .sudoku__input_button {
    width: calc(20% - 4px);
  }  
}

.sudoku__input_button {
  background-color: #e5e5f7;
  border: 2px solid lightgray;
}

.sudoku__input_button .disabled {
  background: repeating-linear-gradient( -45deg, lightgray, lightgray 5px, white 5px, white 25px );
}